@keyframes enterUp {
    0% {
        transform: translateY(5%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes enterDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes enterLeft {
    0% {
        transform: translateX(-80%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes enterRight {
    0% {
        transform: translateX(30%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes enter {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: #EBF5FF;
    font-family: 'Satoshi', sans-serif;
}

body {
    background-color: #010103;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.homemenu {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
    width: fit-content;
    height: fit-content;
    background-color: #303841ab;
    border-radius: 15px;
    animation: enterDown 0.5s ease forwards;
}


.homebutton,
.projectsbutton,
.contactbutton {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #00478F;
    transition: 0.2s ease;
}

.homebutton:hover,
.projectsbutton:hover,
.contactbutton:hover {
    background-color: #303841ab;
}

.linkActive {
    background-color: #007bf5c2;
}

.homecontainer {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 50%;
    height: 80%;
}

.griddiv {
    padding: 10px;
    max-width: 100%;
    opacity: 0;
    display: flex;
    background-color: #303841ab;
    border-radius: 20px;
    text-align: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: 3 / 2 / 5 / 3;
    animation: enter 1s ease forwards;
}

.profileimage {
    max-width: 5vw;
    height: auto;
    border-radius: 5vw;
    object-fit: cover;
}

.profilename {
    max-width: 30vh;
    height: auto;
    text-decoration: none;
    text-align: center;
}

.profilename h2 {
    color: #007AF5;
    height: min-content;
    font-size: clamp(1rem, 2vw, 3rem);
    font-weight: 900;
}

.topleft {
    padding: 10px;
    padding-left: 15px;
    grid-area: 1 / 1 / 3 / 3;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: clamp(1rem, 1.4vw, 2rem);
    font-weight: 900;
    animation: enterLeft 0.5s ease forwards;
    animation-delay: 0.1s;
}

.topleft p {
    font-size: clamp(0.8rem, 1vw, 1.3rem);
    line-height: 1.5;
    font-weight: 400;
}

.right {
    padding: 0;
    grid-area: 1 / 3 / 4 / 4;
    animation: enterDown 0.5s ease forwards;
    animation-delay: 0.2s;
}

.left {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 900;
    grid-area: 4 / 1 / 8 / -3;
    animation: enterUp 0.5s ease forwards;
    animation-delay: 0.4s;
}

.bottomright {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    text-align: left;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 900;
    grid-area: 5 / 2 / -1 / -1;
    animation: enterRight 0.5s ease forwards;
    animation-delay: 0.3s;
}

.bottomright span {
    height: 30px;
}

.education {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.educationtitle {
    margin-top: 5px;
    font-size: clamp(0.8rem, 1vw, 1.5rem);
    font-weight: 400;
    line-height: 1.5;
}

.educationdate {
    font-size: clamp(0.6rem, 1vw, 0.8rem);
    font-weight: 400;
    line-height: 1.5;
    color: #ebf5ffa9;
}

.educationcontent {
    font-size: clamp(0.6rem, 1vw, 1rem);
    font-weight: 400;
    line-height: 1.5;
    color: #ebf5ffa9;
    margin-bottom: 25px;
}

.middleleft {
    background-color: #0051a3da;
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: enterLeft 0.5s ease forwards;
    animation-delay: 0.6s;
}

.middleright {
    background-color: #0051a3da;
    font-size: clamp(0.8rem, 1.4vw, 1.8rem);
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: enterRight 0.5s ease forwards;
    animation-delay: 0.6s;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.iconcontainer {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
}

.iconcontainer i {
    width: 50px;
    height: 50px;
}