/* Animation keyframes and transition utilities */

@keyframes enterUp {
    0% {
        transform: translateY(5%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes enterDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes enterLeft {
    0% {
        transform: translateX(-80%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes enterRight {
    0% {
        transform: translateX(30%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes enter {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
