* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    color: #EBF5FF;
    font-family: 'satoshi', sans-serif;
}

body {
    background-color: #010103;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homecontainer {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 50%;
    max-height: 700px;
}
